td {
  text-align: center;
}

.shiftTotals {
  border-radius: 8px;

  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

// .shiftSummary {
//   margin-bottom: 20px;
//   text-align: left;
// }

// .shiftSummary p {
//   margin: 8px 0;
//   font-size: 16px;
// }

// .shiftTable {
//   width: 100%;
//   border-collapse: collapse;
//   background-color: #f0f0f0;
//   border-radius: 10px;
//   overflow: hidden;
// }

.shiftTable thead th {
  padding: 10px 10px;
  text-align: left;
}

.shiftTable tbody td {
  padding: 10px 10px;
  border-top: 1px solid #ddd;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

// .shiftTable tbody tr:nth-of-type(even) {
//   background-color: #f9f9f9;
// }

// .shiftTable tbody tr:hover {
//   background-color: #eaeaea;
// }

.shiftTable tfoot td {
  text-align: center;
  padding: 5px 10px;
}

.totalPod {
  padding: 4px 8px;

  color: #fff;

  background-color: #557c56;
}

.totalPof {
  padding: 4px 8px;

  color: #fff;
  background-color: #3a543b;
}

.totalZlecenie {
  padding: 4px 8px;

  color: #fff;
  background-color: #33372c;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.totals {
  padding: 4px 8px;
  color: #fff;
  background-color: #ff885b;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
