/* ShiftStatisticsTable.module.css */

td {
  text-align: center;
}

.shiftTotals {
  border-radius: 8px;

  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.shiftSummary {
  margin-bottom: 20px;
  text-align: left;
}

.shiftSummary p {
  margin: 8px 0;
  font-size: 16px;
}

.shiftTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.shiftTable thead th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.shiftTable tbody td {
  padding: 12px 15px;
  border-top: 1px solid #ddd;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.shiftTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.shiftTable tbody tr:hover {
  background-color: #eaeaea;
}

.shiftTable tfoot td {
  text-align: center;

  padding: 5px 15px;
}

.totalPod {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #ff7381;
}

.totalPof {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #28a745;
}

.totalZlecenie {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #ffc107;
}

.totals {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #17a2b8;
}
