/* Загальні стилі */
body {
  padding-bottom: 25px;
  font-family: "Chakra Petch", sans-serif;
  color: #23272e;
  margin: 0;
  box-sizing: border-box;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 95%;

  box-sizing: border-box;

  border-radius: 10px;

  margin: 5px auto;
  background-color: white;
}

h1 {
  color: #23272e;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;

  -webkit-box-shadow: 7px 7px 7px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 7px 7px 7px -7px rgba(66, 68, 90, 1);
  box-shadow: 7px 7px 7px -7px rgba(66, 68, 90, 1);
}

thead th {
  padding: 5px 10px;
  text-align: left;
  /* border-bottom: 1px solid #444; */
}

tbody td {
  border-top: 1px solid #ddd;
}
tbody tr:not(:last-child) {
  background-color: #ffffff;
}

button {
  background-color: #33372c;
  /* margin: 5px; */
  border: none;
  color: #fff;
  padding: 8px 8px;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* button.edit {
  background-color: #28a745;
} */

/* button.delete {
  background-color: #dc3545;
} */

.status {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;

  display: inline-block;
}

.status.pod {
  background-color: #557c56;
}

.status.pof {
  background-color: #3a543b;
}

.status.zlecenie {
  background-color: #33372c;
}

.total-pod,
.total-pof,
.total-zlecenie,
.totals {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;

  display: inline-block;
  margin: 2px;
}

.total-pod {
  background-color: #557c56;
}

.total-pof {
  background-color: #3a543b;
}

.total-zlecenie {
  background-color: #33372c;
}

.totals {
  background-color: #ff885b;
}

.total-operator-statistic {
  padding: 2px 4px;
  border-radius: 4px;
  margin: 2px;
  color: #000000;
  background-color: #dadada;
}

select,
input[type="text"],
input[type="number"],
input[type="time"] {
  color: #23272e;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.top-selectors_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.top-selectors_list li {
  margin: 15px;
}

/* .shift-totals {
  border-radius: 8px;

  width: 30%;
  text-align: center;
} */

/* .shift-totals h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #23272e;
} */

/* .shift-totals p {
  margin: 8px 0;
  font-size: 16px;
} */

/* .shift-all_totals {
  display: flex;
  flex-direction: column;
} */

.shift-buttons {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shift-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #c3c3c3;
  border: none;
  cursor: pointer;
}

.shift-buttons button.active {
  background-color: #33372c;
  color: #fff;
}

.table {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-shift-info {
  margin-top: 10px;

  width: 98%;

  border-radius: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal-content input {
  margin: 10px 0;
}

.add-row {
  color: #ff885b;
  width: 120px;
  height: 120px;
  background-color: transparent;
  margin-top: 20px;
  border-radius: 50px;
  /* Додаємо фіксовану позицію */
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;

  /* Плавність переходу */
  transition: transform 0.3s ease;
  transform: scale(1); /* Початковий стан */
}

.add-row:hover,
.add-row:focus {
  cursor: pointer;
  transform: scale(1.6); /* Збільшення при ховері */
  color: #ff6d38;
}

.add-row:active {
  transform: scale(1); /* Зменшення при натисканні */
}

/* Повернення до початкового розміру після натискання */
.add-row:not(:hover):not(:active) {
  transform: scale(1);
}

.edit-btns {
  display: flex;
}

.edit-btn-save,
.edit-btn-delete,
.edit,
.delete {
  background-color: transparent;

  transition: transform 0.3s ease;
  transform: scale(1); /* Початковий стан */
}
.edit-btn-delete:hover,
.edit-btn-delete:focus,
.edit-btn-save:hover,
.edit-btn-save:focus,
.edit-icon:hover,
.edit-icon:focus,
.delete-icon:hover,
.delete-icon:focus {
  cursor: pointer;
  transform: scale(1.3); /* Збільшення при ховері */
}

.edit-btn-delete,
.edit-btn-save:active {
  transform: scale(0.9); /* Зменшення при натисканні */
}

/* Повернення до початкового розміру після натискання */
.edit-btn-delete,
.edit-btn-save:not(:hover):not(:active) {
  transform: scale(1);
}
/* .edit-btn-save {
  color: #33372c;
  transition: transform 0.3s ease;
  transform: scale(1); 
} */

.edit-icon,
.edit,
.edit-btn-save {
  color: #33372c; /* колір іконки */
  transition: transform 0.3s ease;
  transform: scale(1); /* Початковий стан */
}

.edit-icon:hover,
.edit-icon:focus,
.edit-btn-save :hover,
.edit-btn-save :focus,
.edit:hover,
.edit:focus {
  color: #557c56;
}

.delete-icon {
  color: #ff885b; /* колір іконки */

  transition: transform 0.3s ease;
  transform: scale(1); /* Початковий стан */
}

.delete-icon:hover,
.delete-icon:focus {
  color: #962a2a;
}

.custom-gradient-success {
  text-align: center;

  background: #138b17; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a543b,
    #16110f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a543b,
    #16110f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-gradient-error {
  text-align: center;

  background: #ff1e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #962a2a,
    #16110f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #962a2a,
    #16110f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.select-data-label {
  margin-right: 10px;
}

.totals-cell {
  text-align: right;
  font-weight: bold;
}

/* Стилізація кнопки підтвердження */
.swal-confirm-btn {
  background-color: #962a2a; /* Червоний */
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}

/* Стилізація кнопки скасування */
.swal-cancel-btn {
  background-color: #33372c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}

.custom-datepicker {
  margin-bottom: 10px;
  text-align: center;
}
