/* Загальні стилі */
body {
  font-family: "Chakra Petch", sans-serif;
  color: #23272e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 95%;

  box-sizing: border-box;

  border-radius: 10px;

  margin: 20px auto;
  background-color: white;
}

h1 {
  color: #23272e;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

thead th {
  padding: 5px 10px;
  text-align: left;
  border-bottom: 2px solid #444;
}

tbody td {
  border-top: 1px solid #ddd;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #eaeaea;
}

button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover,
button:focus {
  cursor: pointer;
}

button.edit {
  background-color: #28a745;
}

button.delete {
  background-color: #dc3545;
}

button.save {
  background-color: #17a2b8;
}

button.add-row {
  background-color: #ffc107;
  margin-top: 20px;
}

button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.status {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;

  display: inline-block;
  margin-right: 5px;
}

.status.pod {
  background-color: #ff7381;
}

.status.pof {
  background-color: #28a745;
}

.status.zlecenie {
  background-color: #ffc107;
}

.total-pod,
.total-pof,
.total-zlecenie,
.totals {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;

  display: inline-block;
  margin: 5px;
}

.total-pod {
  background-color: #ff7381;
}

.total-pof {
  background-color: #28a745;
}

.total-zlecenie {
  background-color: #ffc107;
}

.totals {
  background-color: #17a2b8;
}

select,
input[type="text"],
input[type="number"],
input[type="time"] {
  color: #23272e;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.top-selectors_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.shift-totals {
  border-radius: 8px;

  width: 30%;
  text-align: center;
}

.shift-totals h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #23272e;
}

.shift-totals p {
  margin: 8px 0;
  font-size: 16px;
}

.shift-all_totals {
  display: flex;
  flex-direction: column;
}

.shift-buttons {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shift-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #c3c3c3;
  border: none;
  cursor: pointer;
}

.shift-buttons button.active {
  background-color: #007bff;
  color: #fff;
}

.table {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-shift-info {
  width: 90%;
}
